
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sso登录</title>   
</head>
<body>
    <h3>sso登录中心 </h3>
    <div>
       
      <form method="post" action="/login/post">
          <input type="hidden" name="redirect_url" value= "@ViewBag.redirect_url" />
          用户名：<input type="text" name="name" id="name" /><br />
          密&nbsp;&nbsp;&nbsp;码：<input type="password" name="pwd" id="pwd" /><br />
          <input type="submit" id="btnPost" value="登录" />
      </form>
    </div>
</body>
</html>
